* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.square-container {
    width: 600px;
    height: 600px;
    margin: 40px auto;
    border: 2px solid blue;
}

.square {
    float: left;
    border: 2px solid blue;
    cursor: pointer;
}

.square-l1 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square-l2 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square-l3 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}